.flight-add-container{
    margin: 0 auto; 
    text-align: center;
}

.add-flight-form {
    display: inline-block;
    margin-bottom: 3px;
}

.addToursit-form-button {
    margin-top: 0px;
}

.addToursit-form-button[disabled], .addToursit-form-button[disabled]:hover, .addToursit-form-button[disabled]:focus {
    opacity: 0.6;
    color: #fff;
    background-color: #1890ff;
    border-color: #1890ff;
}